:root {
  background-color: #f287b3;
  color: #fdf4cc;
  --border: #fdf4cc;
}
a {
  font-weight: 500;
  color: #fdf4cc;
  text-decoration: inherit;
}
a:hover {
  color: #da3c76;
}
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #fdf4cc;
  color: #da3c76;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #da3c76;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.note.blue,
.note.vanilla,
.note.yellow,
.note.pink,
.note.hotpink {
  box-shadow: 5px 5px 5px #00000030;
}
.note.blue,
.note.blue * {
  background-color: #5dd2e4;
  border-color: white;
  color: white;
}
.note.vanilla,
.note.vanilla * {
  background-color: #fdf4cc;
  border-color: #f287b3;
  color: #f287b3;
}
.note.yellow,
.note.yellow * {
  background-color: #fdd96a;
  border-color: #fdf4cc;
  color: white;
}
.note.pink,
.note.pink * {
  background-color: #f287b3;
  border-color: #fdf4cc;
  color: #fdf4cc;
}
.note.hotpink,
.note.hotpink * {
  background-color: #da3c76;
  border-color: white;
  color: white;
}
